ConsoleTPLSampleApp/.vs/ConsoleTPLSampleApp/v15/.suo
ConsoleTPLSampleApp/.vs/ConsoleTPLSampleApp/v15/Server/sqlite3/storage.ide-wal
ConsoleTPLSampleApp/.vs/ConsoleTPLSampleApp/v15/Server/sqlite3/storage.ide-shm
ConsoleTPLSampleApp/.vs/ConsoleTPLSampleApp/v15/Server/sqlite3/storage.ide
ConsoleTPLSampleApp/.vs/ConsoleTPLSampleApp/v15/Server/sqlite3/db.lock
